<a href="https://colab.research.google.com/github/bwibokhaabi/traffic_elt/blob/main/explore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import os
os.chdir("drive/My Drive/breast_cancer")
os.listdir()

['data.csv', 'dataset.csv']

In [5]:
df = pd.read_csv("dataset.csv",sep="[,;:]",index_col=False)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/pandas/io/parsers/readers.py:586: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  return _read(filepath_or_buffer, kwds)

In [6]:
df.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,25.59,5.549289,37.977353,23.737695,0.0000,0.0000,0.0000,0.0
1,2,Car,103.37,18.985780,37.978027,23.737237,19.5936,-0.0688,-0.8172,0.0
2,3,Motorcycle,130.36,32.589339,37.978110,23.737129,0.0053,0.0083,0.0000,0.0
3,4,Motorcycle,160.70,26.537342,37.978128,23.737149,0.0022,0.0031,-0.0000,0.0
4,5,Car,164.14,26.379138,37.978152,23.737110,0.0015,0.0024,-0.0000,0.0

In [7]:
df.shape

(761, 10)

In [9]:
df.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',
       ' speed', ' lon_acc', ' lat_acc', ' time'],
      dtype='object')

In [10]:
df[' type'].nunique()

6

In [12]:
df[' type'].value_counts()

 Car               349
 Motorcycle        196
 Taxi              130
 Medium Vehicle     54
 Bus                24
 Heavy Vehicle       8
Name:  type, dtype: int64