In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/dataset.csv",sep="[,;:]",index_col=False)

/tmp/ipykernel_9365/481576167.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("../data/dataset.csv",sep="[,;:]",index_col=False)

:

:

In [4]:
df.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,25.59,5.549289,37.977353,23.737695,0.0000,0.0000,0.0000,0.0
1,2,Car,103.37,18.985780,37.978027,23.737237,19.5936,-0.0688,-0.8172,0.0
2,3,Motorcycle,130.36,32.589339,37.978110,23.737129,0.0053,0.0083,0.0000,0.0
3,4,Motorcycle,160.70,26.537342,37.978128,23.737149,0.0022,0.0031,-0.0000,0.0
4,5,Car,164.14,26.379138,37.978152,23.737110,0.0015,0.0024,-0.0000,0.0

In [5]:
df.shape

(761, 10)

In [7]:
df.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',
       ' speed', ' lon_acc', ' lat_acc', ' time'],
      dtype='object')

In [8]:
df[' type'].nunique()

6

In [9]:
df[' type'].value_counts()

 Car               349
 Motorcycle        196
 Taxi              130
 Medium Vehicle     54
 Bus                24
 Heavy Vehicle       8
Name:  type, dtype: int64

In [10]:
import psycopg2
conn = psycopg2.connect(
    database="traffic", 
    host="localhost", 
    port="5432", 
    user="postgres", 
    password="test1234")

In [11]:
cur = conn.cursor()

delete_script = "DROP TABLE IF EXISTS traffic;"

create_script = ''' 
    CREATE TABLE IF NOT EXISTS traffic(
        track_id numeric, 
        type varchar (100), 
        traveled_d float,
        avg_speed float, 
        lat float, 
        lon float,
        speed float, 
        lon_acc float, 
        lat_acc float, 
        time float
   );
    '''

cur.execute(delete_script)
cur.execute(create_script)

In [12]:
insert_script = ''' 
    INSERT INTO traffic(
        track_id, 
        type, 
        traveled_d,
        avg_speed, 
        lat, 
        lon,
        speed, 
        lon_acc, 
        lat_acc, 
        time)

    VALUES (
        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    '''

for record in df.to_dict(orient="records"):
    values = list(record.values())
    # print (values)
    cur.execute(insert_script, values)
    cur.execute("commit")

conn.commit()
conn.close()

In [1]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:test1234@localhost/traffic')

df.to_sql("traffic", con=engine, if_exists='replace', index_label='id')
print("<<<<<<<<<<<<<<<<<<<completed>>>>`>>>>>>>>>>>>")

NameError: name 'df' is not defined